<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PhoneDbConnection"
			 connectionString="Driver={MySQL ODBC 9.2 ANSI Driver};Server=localhost;Port=3306;Database=PhoneDb;User=root;Password=trung1;"
			 providerName="System.Data.Odbc" />
	</connectionStrings>
</configuration>